
@{
    ViewBag.Title = "error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">

    <!-- row -->
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">
                        <h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> Error!!!</h1>
                        <h2 class="font-xl"><strong>Algo Salio Mal</strong></h2>
                        <br />
                        <p class="lead semi-bold">
                            <strong>Revisa la pila de errores e informa a soporte tecnico</strong><br><br>
                            <small>
                                <h3>@ViewBag.error</h3>
                            </small>
                        </p>
                        <ul class="error-search text-left font-md">
                            <li><a href="javascript:void(0);"><small>Regresar al inicio<i class="fa fa-arrow-right"></i></small></a></li>
                            <li><a href="javascript:void(0);"><small>Contactar con soporte <i class="fa fa-mail-forward"></i></small></a></li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- end row -->

</div>
<!-- END MAIN CONTENT -->
