@{
    ViewBag.Title = "exito";
}


@{
    ViewBag.Title = "error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">

    <!-- row -->
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">
                        <h1 class="error-text tada animated"><i class="fa fa-check-circle text-success"></i> EXITO!!!</h1>
                        <h2 class="font-xl"><strong>Exito</strong></h2>
                        <br />
                        <p class="lead semi-bold">

                            <small>
                                <h3>@ViewBag.exito</h3>
                            </small>
                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- end row -->

</div>
<!-- END MAIN CONTENT -->
